body{
background-color: DarkGray;

}
.maincontainer{
width: 45%;
margin: 40px auto;
display: flex;
flex-flow: column;
}

.header{
height: 150px;
background-color: white;
display: flex;
align-items: center;
justify-content: center;
}
.title{
color: DarkRed;
font-size: 25px;
font-family:  Segoe UI Black;

}

.p{
color: DarkRed;
font-size: 25px;
align-content: center;
font-family:  Segoe UI Black;
}
.rows{
margin-bottom: 40px;
padding-left: 8%;
box-sizing: border-box;
}
.left
{
float:left;
width:45%;

}
.right
{
float:right;
width:55%;

}

.span{
color:FireBrick;
font-size: 12px;
font-family: Arial;
}

.questions{
background-color: Gainsboro;
width: 100%;
display: flex;
flex-flow: column;
}
.p1{
color: DarkRed;
font-size: 13px;
font-family: Yu Gothic UI Semibold;

.date{
color: Gray;
}
.ques{
position: absolute;
left: 30px;
}
.button1{
transform: scale(1.2);
}


.commentscontainer{
background-color: Gainsboro;
padding-top: 50px;
box-sizing: border-box;
width: 100%;
position: relative;
text-align: center;
}


textarea{
padding-left: 10px; !important
box-sizing: border-box; !important
width: 90%; !important
height: 200px; !important
max-width: 90%; !important
min-width: 90%; !important
border-radius: 2px; !important
border: 1px solid #ccc; !important
padding-top: 5px; !important

}

input::placeholder {
color: Silver;
font-size: 14px;
}

.submitb{
margin-top: 25px;
margin-bottom: 25px;
background-color: #595959;
color:White;
padding: 10px 45px;
border-radius: 4px;
border: none;
font-size: 12px;
}



